@import url("./NavComponent.css");
@import url("./PhotoGalleryComponent.css");
@import url("./HomePage.css");
@import url("./SearchBarComponent.css");
@import url("./SearchPage.css");
@import url("./PhotoPage.css");
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
#root {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
}
h1,p{
  margin:0;
}
a {
  text-decoration: none; 
  color: inherit; 
  padding: 0; 
  margin: 0; 
}