.gallery {
  column-count: auto;
  column-gap: 0.5em;
  column-width: 350px;
  margin: 0em 2em;
}

.gallery__item {
  height: auto;
  margin: 0;
  position: relative;
  cursor:pointer;
}
.gallery__item:hover .gallery__item__mask{
  display: block;
}

.gallery__item__mask {
  position: absolute;
  z-index: 2;
  display: none;
}
.gallery__item__mask__button {
  border: 1px solid rgba(255, 255, 255, 0.58);
  border-radius: 0.45em;
  background-color: rgba(255, 255, 255, 0.157);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2.9em;
  width: 2.9em;
  margin-top: 0.8em;
  margin-left: 0.8em;
  display: inline-block;
}
.gallery__item__mask__button:hover {
  border: 1px solid white;
}
.gallery__item__mask__button__img{
  height: 1em;
  width: 1em;
}
.gallery__item__mask--top {
  top: 0;
  left: 0;
  height: 4em;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
}
.gallery__item__mask--bottom {
  bottom: 0.45em;
  left: 0;
  height: 3.5em;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item__mask--data {
  bottom: 1em;
  left: 2.5%;
  height: 3em;
  width: 95%;
}
.gallery__item__description {
  font-size: 0.7rem;
  color:white;
  text-align: center;
  margin-bottom: 1em;
}
.gallery__item__pills-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
  margin-top: 0.25em;
}
.gallery__item__pill {
  background-color: ghostwhite;
  color: gray;
  border: 3px solid gainsboro;
  font-size: 0.6rem;
  border-radius: 2em;
  padding: 0.1em 0.5em;
}