.search-bar {
  border-radius: 2em;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0.2em 1em; 
  margin-top: 0.8em;
}

.search-bar__icon {
  height: 1em; 
  width: 1em;  
  display: inline-block;
  margin-right: 0.5em; 
}

.search-bar__form {
  display: inline-block;
  width: 80%;
}

.search-bar__form__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 2em; 
}

.search-bar__form__input::placeholder {
  font-size: 0.8em; 
  color: #999; 
}