.chips {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  overflow-x: scroll;
  height: 3em;
  align-items: center;
  margin: 0 1em;
}
.chips::-webkit-scrollbar {
  height: 6px;
}

.chips::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.chips::-webkit-scrollbar-track {
  background-color: transparent;
}
.chips__item {
  border: 1px solid gainsboro;
  border-radius: 0.6em;
  background-color: rgba(255, 255, 255, 0.157);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: fit-content;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.862);
  padding: 0.5em;
}
.chips__item:hover {
  border: 1px solid rgba(0, 0, 0, 0.862);
}
@media (min-width: 1000px) {
  .chips__item {
    font-size: 0.9rem;
    padding: 0.5em;
  }
  .chips {
    height: 4em;
    margin: 0 2em;
    overflow-x: hidden;
  }
}
.chips {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}