.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  z-index: 3;
  transition: background-color 300ms ease;
}

.nav--regular {
  background-color: white;
  border-bottom: 1px solid gainsboro;
}

.nav--top-home {
  background-color: transparent;
  border: none;
}

.nav__search-bar-container {
  display:none;
  border-radius: 2em;
  background-color: whitesmoke;
  width: 60%;
  height: 40%;
  align-items: center;
  padding: 0.1em 1em;
}

.nav__logo {
  margin-right: 0.5em;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.3rem;
  margin-left: 0.6em;
  border-radius: 0.2em;
  padding: 0 0.1em;
}

.nav__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  margin-right: 0.5em;
}

.nav__container__fav-link {
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
}

.nav--regular .nav__search-bar-container {
  height: 55%;
  font-size: x-small;
}

.nav--regular .nav__logo {
  color: white;
  background-color: black;
}

.nav--regular .nav__container__fav-link {
  color: rgba(128, 128, 128, 0.855);
}

.nav--top-home .nav__search-bar-container {
  display: none;
}

.nav--top-home .nav__logo {
  color: gray;
  background-color: white;
}
.nav__logo__text--sort {
  display: block;
}
.nav__logo__text--long {
  display: none;
}
.nav--top-home .nav__container__fav-link {
  color: gainsboro;
}
.nav--top-home .nav__container__fav-link--active {
  color: #e6ea08;
}
.nav--regular .nav__container__fav-link--active {
  color: #EAB308;
}
@media (min-width: 1200px) {
  .nav {
    height: 3.5em;
  }

 
  .nav__logo {
    font-size: 1.8rem;
    margin-left: 1em;
  }
  .nav__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    margin-right: 2em;
  }
  .nav__container__fav-link {
    font-size: 1rem;
  }

  .nav--top-home .nav__logo {
    color: white;
    background-color: transparent;
  }
  .nav--regular .nav__logo { 
    background-color: transparent;
    color: black;
  }


  .nav--top-home .nav__container__fav-link:hover {
    color: #e6ea08;
  }

  .nav--regular .nav__container__fav-link:hover {
    color: #EAB308;
  }
  .nav__logo__text--sort {
    display: none
  }
  .nav__logo__text--long {
    display: block;
  }
  .nav__search-bar-container {
    display: flex;
    height: 60%;
  }
}
