.home {
  height: 100%;
  width: 100%;
  margin-bottom: 0.5em;
  position: relative;
}

.home__header {
  height: 23em;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  position: relative;
}
.home__header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../public/background-photo3.webp') no-repeat center center;
  background-size: cover;
  filter: brightness(65%); 
  z-index: -1; 
}


.home__header__content {
  width: 48em;
  margin: 1em 0.8em 0.5em 0.8em;
}

.home__header__content__title {
  font-weight: 700;
  font-size: 1.2rem;
}

.home__header__content__subtitle {
  font-weight: 400;
  font-size: 0.75rem;
  margin-top: 0.9em;
}

.home__header__content__search-bar-container {
  border-radius: 2.2em;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  padding: 0.45em 1.20em;
  margin-top: 1.4em;
}

.home__chips-container {
  margin-bottom: 0.5em;
}
.home__gallery {
  margin: 0 0.5em;
  display: grid;
  grid-gap: 0.5em; 
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-auto-rows: 0; 
  position: relative;
}

.bottom-ref{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25em;
  background-color: aqua;
}

@media (min-width: 1200px) {
  .home__header {
    height: 26em;
  }

  .home__header__content {
    margin-bottom: 1.8em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-top: 1em;
    width: 42em;
  }

  .home__header__content__title {
    font-size: 1.65rem;
  }

  .home__header__content__subtitle {
    font-size: 0.65rem;
  }

  .home__header__content__search-bar-container {
    padding: 0.6em 1.6em;
    font-size: 0.65rem;
  }
  .home__gallery {
    margin: 0 1.5em;
    display: grid;
    grid-gap: 0.75em;
    grid-template-columns: repeat(auto-fill, minmax(18.5em, 1fr)); 
    grid-auto-rows: 0; 
  }
}
